<a href="https://colab.research.google.com/github/GilbertRPG/CodingDojo/blob/main/Rename_Delete_Missing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
import pandas as pd

In [69]:
bike_df = pd.read_excel('/content/drive/MyDrive/CodingDojo Collabs/RailsToTrails_National_Count_Data_week.xlsx')
bike_df.head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

In [70]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2    2019 counts (31 counters)  52 non-null     int64
 3    2020 counts (31 counters)  52 non-null     int64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            52 non-null     float64
 6   Unnamed: 6                  52 non-null     float64
 7   Unnamed: 7                  0 non-null      float64
 8   Unnamed: 8                  1 non-null      float64
 9   Unnamed: 9                  1 non-null      float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 4.2+ KB

In [71]:
WhatsMissing = bike_df['Unnamed: 7'].isna()
bike_df.loc[WhatsMissing, :].head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

In [72]:
bike_df = bike_df.drop(labels=['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'], axis = 1)

In [73]:
bike_df.head()

  Timeframe    Week of  ...  Change 2019-2020  Unnamed: 6
0    Week 1 2020-12-30  ...          0.094627    1.094627
1    Week 2 2020-01-06  ...          0.179743  117.974253
2    Week 3 2020-01-13  ...          0.216112  121.611169
3    Week 4 2020-01-20  ...          0.105645  110.564504
4    Week 5 2020-01-27  ...          0.249166  124.916602

[5 rows x 7 columns]

In [74]:
newColumns = {'2019 counts (31 counters)':'counts_2019', 'Unnamed: 6':'percent_change'} # for some secret reason, the dictonary doesn't replace the counts_2019...
bike_df = bike_df.rename(columns=newColumns)
bike_df.head()

  Timeframe    Week of  ...  Change 2019-2020  percent_change
0    Week 1 2020-12-30  ...          0.094627        1.094627
1    Week 2 2020-01-06  ...          0.179743      117.974253
2    Week 3 2020-01-13  ...          0.216112      121.611169
3    Week 4 2020-01-20  ...          0.105645      110.564504
4    Week 5 2020-01-27  ...          0.249166      124.916602

[5 rows x 7 columns]

In [75]:
bike_df = bike_df.fillna(0, axis = 1)

In [76]:
bike_df.head()

  Timeframe    Week of  ...  Change 2019-2020  percent_change
0    Week 1 2020-12-30  ...          0.094627        1.094627
1    Week 2 2020-01-06  ...          0.179743      117.974253
2    Week 3 2020-01-13  ...          0.216112      121.611169
3    Week 4 2020-01-20  ...          0.105645      110.564504
4    Week 5 2020-01-27  ...          0.249166      124.916602

[5 rows x 7 columns]