<a href="https://colab.research.google.com/github/GilbertRPG/CodingDojo/blob/main/Loading_and_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [145]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [146]:
import pandas as pd
bike_df = pd.read_excel('/content/drive/MyDrive/CodingDojo Collabs/RailsToTrails_National_Count_Data_week.xlsx')
bike_df.head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

In [147]:
WeekOfFilter = bike_df['Week of'] > '2020-08'
bike_df.loc[WeekOfFilter, :].head()

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0     Week 1 2020-12-30  ...         NaN         NaN
31   Week 32 2020-08-03  ...         NaN         NaN
32   Week 33 2020-08-10  ...         NaN         NaN
33   Week 34 2020-08-17  ...         NaN         NaN
34   Week 35 2020-08-24  ...         NaN         NaN

[5 rows x 10 columns]

In [148]:
ChangeFilter = bike_df['Change 2019-2020'] > 1
bike_df = bike_df.loc[ChangeFilter, :]
# bike_df['Change 2019-2020'].value_counts(dropna = False)
bike_df.loc[ChangeFilter, :].head()

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
7     Week 8 2020-02-17  ...         NaN         NaN
11   Week 12 2020-03-16  ...         NaN         NaN
12   Week 13 2020-03-23  ...         NaN         NaN
13   Week 14 2020-03-30  ...         NaN         NaN
14   Week 15 2020-04-06  ...         NaN         NaN

[5 rows x 10 columns]

In [149]:
bike_df.loc[WeekOfFilter & ChangeFilter, :] #for whatever reason, this does not pull both filters or populate it into the system. 
# I am forced to submit this code without #3 completed and will compare what I did wrong with the solution code.
# I am under the belief that it is not populating because it's overwriting WeekOfFilter's data.

# After running the "filtering" exercise with the excel provided for this assignment, I get the same value. My assumption here
# is that this is intentional and we will return no data.

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []