In [11]:
import pandas as pd
df = pd.read_excel('C:/Users/yanni/Documents/CodingDojo/ExcelData/BostonHousing1978.xlsx', engine='openpyxl') # use read_csv for a csv file. Very important! Don't forget pandas is flexible!

# Why do some commands have () at the end and some don't?
    # info(), head(), tail(), read_csv(), read_excel() are methods. A method is a function associated with a specific class. shape and dtypes are attributes, which is data associated with a specific class.

df.head() # this allows you to see the first 5 rows of data.

      RM  LSTAT  PTRATIO  target
0  6.575   4.98     15.3    24.0
1  6.421   9.14     17.8    21.6
2  7.185   4.03     17.8    34.7
3  6.998   2.94     18.7    33.4
4  7.147   5.33     18.7    36.2

In [6]:
df.head(2) # Inputting an int inside of .head() shows THAT amount of rows only.

      RM  LSTAT  PTRATIO  target
0  6.575   4.98     15.3    24.0
1  6.421   9.14     17.8    21.6

In [7]:
df.tail() # .tail will give you the same result as .head, but on the "tail" end of your imported file.

        RM  LSTAT  PTRATIO  target
501  6.593   9.67     21.0    22.4
502  6.120   9.08     21.0    20.6
503  6.976   5.64     21.0    23.9
504  6.794   6.48     21.0    22.0
505  6.030   7.88     21.0    11.9

In [8]:
df.dtypes # This shows what kind of data types you're looking at in each column header.

RM         float64
LSTAT      float64
PTRATIO    float64
target     float64
dtype: object

In [9]:
df.info() # This gives us more information that .dtypes, and can tell us how many non-null count vaules there are. (Essentially, this is a quick way to check if all columns have vaules in them, and if so, what vaules they are.)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   RM       506 non-null    float64
 1   LSTAT    506 non-null    float64
 2   PTRATIO  506 non-null    float64
 3   target   506 non-null    float64
dtypes: float64(4)
memory usage: 15.9 KB

In [10]:
df.shape # Reports the results in (row, column) format. 506 rows, 4 columns.

(506, 4)

In [12]:
# Select columns using brackets

# With square brackets, you can select one or more columns. Single square brackets will return a Pandas Series, while double square brackets will return a Pandas dataframe.

# This particular line of code returns the first 5 lines of the "RM" column. Fairly self-explanatory.

df[['RM']].head()

      RM
0  6.575
1  6.421
2  7.185
3  6.998
4  7.147

In [14]:
# We can reuse this code and define multiple rows to lok at by simply specifying what rows we want to look at in the [['brackets']]!

df[['RM', 'target']].head()

      RM  target
0  6.575    24.0
1  6.421    21.6
2  7.185    34.7
3  6.998    33.4
4  7.147    36.2

In [15]:
# This is a Pandas DataFrame
df[['RM', 'LSTAT', 'PTRATIO', 'target']].tail()

        RM  LSTAT  PTRATIO  target
501  6.593   9.67     21.0    22.4
502  6.120   9.08     21.0    20.6
503  6.976   5.64     21.0    23.9
504  6.794   6.48     21.0    22.0
505  6.030   7.88     21.0    11.9

In [16]:
# This following function produces a Pandas series which is a one-dimensional array of indexed data. Think of one-dimension as one series of brackets.

# Note: mltiple columns with single brackets do NOT work, and will throw an error. You have to use double brackets. (Essentially, a list.)
df['RM'].head()

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
Name: RM, dtype: float64

In [17]:
# With a pandas series, we can select rows using slicing like this: series[start_index:end_index]

# The end_index is not inclusive. This behavior is very similar to Python lists.

# df['RM']

    # 0 6.575
    # 1 6.421
    # 2 7.185
    # 3 6.998
    # 4 7.147
    # ...
    # 501 6.593
    # 502 6.120
    # 503 6.976
    # 504 6.794
    # 505 6.030
    # Name: RM, Length: 506, dtype: float64

df['RM'][0:10] # Remember that this is still Python, so we have to utilize the "zero index" for our first vaule.

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
5    6.430
6    6.012
7    6.172
8    5.631
9    6.004
Name: RM, dtype: float64

In [18]:
df.RM.head() # This is NOT recommended. Do not use unless absolutely necessary. Yeilds same result as above.

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
Name: RM, dtype: float64

In [19]:
df.loc[:, ['RM']].head() # This allows you to select columns, index, and slice your data. Loc is an alternative to selecting columns using brackets because it is more flexible.

      RM
0  6.575
1  6.421
2  7.185
3  6.998
4  7.147

In [20]:
df.loc[:, 'RM'].head()

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
Name: RM, dtype: float64