In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/ymitropo/Downloads/mortgages.csv')
df.head()

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,Mortgage Name,Interest Rate
0,1,400000.00,1686.42,1000.00,686.42,399313.58,30 Year,0.03
1,2,399313.58,1686.42,998.28,688.14,398625.44,30 Year,0.03
2,3,398625.44,1686.42,996.56,689.86,397935.58,30 Year,0.03
3,4,397935.58,1686.42,994.83,691.59,397243.99,30 Year,0.03
4,5,397243.99,1686.42,993.10,693.32,396550.67,30 Year,0.03

In [4]:
df["Mortgage Name"].value_counts() # This looks at the vaules contained inside "Mortgage Name". This returns the 30 Year and 15 Year mortgages, along with the count of how many instances there are.

30 Year    720
15 Year    360
Name: Mortgage Name, dtype: int64

In [5]:
mortgage_filter = df['Mortgage Name'] == '30 Year' # This will give us ONLY the 30 year mortgages in our .csv, however it returns either true or false as it is a comparison operator.
mortgage_filter.head()

0    True
1    True
2    True
3    True
4    True
Name: Mortgage Name, dtype: bool

In [6]:
df[mortgage_filter].head() # Here we're calling our mortgage_filter and putting it into a df to display our values visually. This is approach #1.

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,Mortgage Name,Interest Rate
0,1,400000.00,1686.42,1000.00,686.42,399313.58,30 Year,0.03
1,2,399313.58,1686.42,998.28,688.14,398625.44,30 Year,0.03
2,3,398625.44,1686.42,996.56,689.86,397935.58,30 Year,0.03
3,4,397935.58,1686.42,994.83,691.59,397243.99,30 Year,0.03
4,5,397243.99,1686.42,993.10,693.32,396550.67,30 Year,0.03

In [ ]:
df.loc[mortgage_filter, :].head() # This filters our df to only 30 year mortgages, same as above, however we can specify